.container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

header {
  border-bottom: 1px solid #ececec;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul {
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

a {
  text-decoration: none;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  /*
  display: flex; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .logo__container {
  display: inline-block;
  text-align: center;
}

.nav .nav__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: #2196f3;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.nav .nav__logo > span {
  color: #2f303a;
}

.footer__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.footer__logo > span {
  color: #2196f3;
}

.hidden {
  display: none;
}

.nav {
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  position: relative;
  height: 60px;
}

.menu__container {
  display: none;
}

.menu__container.is-open {
  display: block;
  position: absolute;
  width: 100%;
  height: 796px;
  top: 0;
  left: 0;
  background-color: #ffff;
  padding-bottom: 48px;
  padding-top: 48px;
  padding-left: 40px;
}

.menu__button {
  display: block;
  margin-right: 15px;
  margin-left: auto;
  z-index: 1;
}

.menu__close {
  position: absolute;
  right: 0;
  top: 21px;
  margin-right: 25px;
}

.menu {
  text-align: start;
  list-style: none;
  /*
  display: flex;
 
  margin-left: 94px;
  */
  margin-top: 0;
  margin-bottom: 0;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.menu .menu__list {
  /*
    margin-left: 50px;
    */
}

.menu .menu__list:first-child {
  margin-left: 0px;
}

.menu .menu__current:after {
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  content: "";
}

.menu__link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2f303a;
  text-decoration: none;
  padding-bottom: 32px;
  display: block;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 780px;
    height: auto;
  }
  .menu__button {
    display: none !important;
  }
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2f303a;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__list {
    margin-left: 50px;
  }
  .menu__container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: inherit;
  }
  .contacts__link {
    color: #757575;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
    letter-spacing: 0.03em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tel__link {
    margin-top: 0px !important;
  }
  .menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 88px;
  }
  .contacts {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0px !important;
    margin-left: 84px !important;
  }
  .mail__link {
    padding-top: 21px;
  }
  .social__network {
    display: none !important;
  }
  .contact__icons {
    display: block !important;
  }
}

.contacts {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 302px;
}

.contacts:first-child {
  margin-right: 50px;
}

.contacts__firstchild {
  margin-right: 30px;
}

.contacts__item {
  display: list-item;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contacts__link,
.contacts__link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__link:hover, .contacts__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: #2196f3;
}

.contact__icons {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.contact__icons:hover, .contact__icons:focus {
  fill: #2196f3;
}

.social__network {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.network__item {
  color: #2196f3;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.network__item:first-of-type {
  border-left: none;
}

.network__link {
  padding: 10px;
  color: #2196f3;
}

.mail__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #2196F3;
}

.tel__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 32px;
}

.hero {
  background-image: url("../images/Img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 480px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.hero .hero__slogan {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.hero .hero__button {
  margin-top: 30px;
}

@media screen and (min-width: 767px) {
  .hero {
    background-image: url("../images/Img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 767px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background-image: url("../images/Img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/Img.png");
  }
}

.order__button {
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: Roboto;
  padding: 10px 32px 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.footer__subscribe {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  cursor: pointer;
}

.quality {
  max-width: 480px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.quality__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quality__title {
  display: none;
}

.quality__square {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.quality__list {
  list-style: none;
  display: block;
  gap: 30px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.quality__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2f303a;
  margin: 0;
}

.quality__h3 {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.1;
  color: #2f303a;
  margin-bottom: 10px;
}

.quality__p {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: #757575;
  margin-top: 10px;
}

.task {
  padding-top: 0;
  max-width: 480px;
  display: none;
  padding-left: 15px;
  padding-right: 15px;
}

.task .task__list {
  list-style: none;
  gap: 30px;
  margin-top: 50px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.task .task__title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-dark);
  font-weight: bold;
  margin: 0;
}

.task .task__item {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.task .task__overlay {
  position: absolute;
  bottom: 0;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task .task__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: white;
  text-transform: uppercase;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

.team .team__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.team .team__title {
  line-height: 1.1;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.team .links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  cursor: pointer;
}

.team .links__item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__links {
  height: 44px;
  width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__links:hover, .team__links:focus {
  background: #2196f3;
}

.team__links:hover:hover .social__icons,
.team__links:hover:focus .social__icons, .team__links:focus:hover .social__icons,
.team__links:focus:focus .social__icons {
  fill: #ffffff;
}

.social__icons {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member__info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member__info .member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2f303a;
}

.member__info .member__position {
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.clients {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

.clients .clients__link {
  width: 140px;
  height: 92px;
}

.clients .clients__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.clients .clients__title {
  line-height: 1.1;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.client__icons {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .client__icons, .clients__link:focus .client__icons {
  fill: #2196f3;
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.footer {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  max-width: 480px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.addres__contacts {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.address {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  font-style: normal;
}

.address .address__list {
  margin-top: 9px;
}

.footer__address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover, .footer__address:focus {
  color: #2196f3;
}

.footer__mail,
.footer__tel {
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail:hover, .footer__mail:hover,
.footer__tel:hover,
.footer__tel:hover {
  color: #2196f3;
}

.footer__mail:focus, .footer__mail:focus,
.footer__tel:focus,
.footer__tel:focus {
  color: #2196f3;
}

.join__container {
  /*
  margin-left: 70px;
  */
}

.join__container .join__slogan {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
}

.join__container .join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 10px;
  margin-top: 20px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.join__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  vertical-align: middle;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.join__items:hover, .join__items:focus {
  background-color: #2196f3;
}

.join__items .footer__icons {
  fill: #ffffff;
}

.subscribe__container {
  /*
  margin-left: 93px;

  */
}

.subscribe__container .subscribe__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
}

.subscribe__container .subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--brand-dark);
  color: white;
  text-indent: 16px;
}

.subscribe__container .subscribe__form {
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.subscribe__container .icon__send {
  margin-left: 10px;
  fill: white;
}

.footer__subscribe {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* BUUTTONS */
.buttons {
  background-color: #f5f4fa;
  color: #2f303a;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-family: Roboto;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  border: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover, .buttons:focus {
  background-color: #2196f3;
  color: white;
  border: transparent;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.cases {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.cases .our__works {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  display: none;
}

.cases .cases__buttons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.portfolio__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.portfolio__list .portfolio__cards {
  display: block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__main {
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__main .cards__overlay {
  position: absolute;
  color: #ffffff;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  background-color: #2196f3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.cards__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}

.cards__info .cards__type {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.cards__info .cards__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: #212121;
}

.cards__link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__link:hover, .cards__link:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards__link:hover .cards__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards__link:hover:focus .cards__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* backdrop */
.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* general */
label {
  display: block;
  margin-bottom: 4px;
}

input {
  width: 448px;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  text-indent: 42px;
  cursor: pointer;
}

label {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #757575;
}

/* modal */
.modal {
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border: 1px solid rgba(0, 0, 0, 0.582);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .close__button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 8px;
  right: 8px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.modal .register {
  padding: 40px;
}

.modal .modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.term {
  width: 1px;
  height: 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.term:checked + .check__icon {
  background: #2196f3;
  border: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.term:checked + * .checkbox__icon {
  display: block;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.712);
  margin-right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
}

.check__icon .checkbox__icon {
  margin-right: 0px;
  fill: #ffffff;
  display: none;
  cursor: pointer;
}

.policy {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--p-color);
  letter-spacing: 0.03em;
}

.policy .policy__terms {
  color: #2196f3;
}

.form__field {
  margin-top: 10px;
}

.form__field:focus .modal__icon, .form__field:focus-within .modal__icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field .name__label,
.form__field .tel__label,
.form__field .email__label,
.form__field .comments__label {
  margin: 0px;
  margin-bottom: 4px;
}

.form__field .name__label .modal__icon,
.form__field .tel__label .modal__icon,
.form__field .email__label .modal__icon,
.form__field .comments__label .modal__icon {
  position: absolute;
  left: 12px;
  top: 32px;
}

.form__field .comments {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form__field textarea {
  padding-left: 16px;
  padding-top: 12px;
  cursor: pointer;
}

.term__label {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--p-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.button__submit .submit {
  text-align: center;
  width: 200px;
  height: 50px;
  border: transparent;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

.name__label:focus-within,
.tel__label:focus-within,
.email__label:focus-within {
  border: #2196f3;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.comments::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 32px;
}
/*# sourceMappingURL=main.css.map */