.footer {
  
  align-items: baseline;
  max-width: 480px;
  justify-content: center;
  text-align: center;
  

}

.addres__contacts {
  flex-grow: 2;
}

.address {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  font-style: normal;

  .address__list {
    margin-top: 9px;
  }
}



.footer__address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

.footer__mail,
.footer__tel {
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:hover {
    color: $blue-color;
  }

  &:focus,
  &:focus {
    color: $blue-color;
  }
}

.join__container {
  /*
  margin-left: 70px;
  */

  .join__slogan {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 60px;
  }

  .join__list {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 20px;
    padding-inline-start: 0px;
    justify-content: center;
    text-align: center;
  }

}



.join__items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  vertical-align: middle;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $blue-color;
  }

  .footer__icons {
    fill: #ffffff;
  }
}



.subscribe__container {
  /*
  margin-left: 93px;

  */

  .subscribe__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 60px;
  }

  .subscribe__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: var(--brand-dark);
    color: white;
    text-indent: 16px;
  }

  .subscribe__form {
    margin-top: 20px;
   
    justify-content: center;
    text-align: center;
  }

  .icon__send {
    margin-left: 10px;
    fill: white;
  }


}


.footer__subscribe {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}