
.nav {
  /*
  display: flex; */
  align-items: center;


.logo__container {
  display: inline-block;
  text-align: center;
}

.nav__logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    color: $blue-color;
    letter-spacing: 0.03em;
    text-decoration: none;
  
    margin-top: auto;
    margin-bottom: auto;
  }
  .nav__logo > span {
    color: $brand-dark;
  }

}

  .footer__logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.03em;
  }
  
  .footer__logo > span {
    color: $blue-color;
  }