
.nav {
  display: flex;
}

.menu {
  text-align: center;
  list-style: none;
  display: flex;
  margin-left: 94px;
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0px;

  .menu__list {
    margin-left: 50px;
  }

  .menu__list:first-child {
    margin-left: 0px;
  }

  .menu__current:after {
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: $blue-color;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    content: "";
  }

}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: $brand-dark;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $blue-color;
  }
}
