.contacts {
    list-style: none;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;

    &:first-child {
      margin-right: 50px;
    }

  }

  .contacts__firstchild {
    margin-right: 30px;
  }

    .contacts__item {
      display: list-item;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  

  .contacts__link,
  .contacts__link {
    color: $p-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
    letter-spacing: 0.03em;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover,
    &:focus {
      color: $blue-color;
    }
  }
  
  .contact__icons {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      fill: $blue-color;
    }
  }
  