/* BUUTTONS */

.buttons {
  background-color: $brand-grey;
  color: $brand-dark;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-family: Roboto;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $blue-color;
    color: white;
    border: transparent;
    box-shadow: $box-shadow;
    cursor: pointer;
  }
}




  .our__works {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    display: none;
  }

  .cases__buttons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: start;
    padding-inline-start: 0px;
    max-width: 767px;
    
    margin-left: auto;
    margin-right: auto;
  }




.portfolio__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
  padding-inline-start: 0px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;


  .portfolio__cards {
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    height: auto;
  }
}

.cards__main {
  position: relative;
  overflow: hidden;
  transition: transform 250ms ease;
  text-align: center;
  justify-content: center;

  .cards__overlay {
    position: absolute;
    color: #ffffff;
    transition: transform 250ms ease;
    background-color: $blue-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(+100%);
    align-items: center;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  
  }
}

.cards__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;

  .cards__type {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $p-color;
    margin-top: 10px;
  }

  .cards__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: rgba(33, 33, 33, 1);
  }
}


.cards__img {
 
  height: auto;
} 


.cards__link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
max-width: 450px;

  &:hover, &:focus {
    box-shadow: $box-shadow;
  }


   &:hover  { .cards__overlay {
    transform: translateY(0);
}
&:focus  { .cards__overlay {
    transform: translateY(0);
}


   }
}


}




@media screen and (min-width: 767px) and (max-width: 1200px) {

  .cases {
    max-width: 1200px;
  }

  .cases__buttons {
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  display: flex;
 justify-content: center;
  }

  .portfolio__list {
   margin-top: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .portfolio__cards {
   
  
  height:auto;
  }

  .cards__link {
    max-width: 354px;;
  }

.cards__img {
  max-width: 100%;
  height: auto;
}

}


@media screen and (min-width: 1200px) {




.cases__buttons {
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
display: flex;
justify-content: center;
}

.portfolio__list {
  flex-direction: row;
  justify-content: center;
margin-top: 50px;
}

.cards__link {
  max-width: 370px;;
}

.cards__img {
  width: 370px;
  height: auto;
}

}