




.quality__item {
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 450px;
}

.quality__title {
    display: none;
  }
   
  .quality__square {
    
    height: 120px;
    background-color: $brand-grey;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
flex-wrap: wrap;

  }

 
  
  .quality__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-inline-start: 0px;
  }
  
  .quality__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: $brand-dark;
    margin: 0;
    
  }
  
  .quality__h3 {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.1;
    color: $brand-dark;
    margin-top: 30px;
    display: inline-block;
  }
  
  .quality__p {
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    color: $p-color;
    margin-top: 10px;
    display: inline-block;
    text-align: start;
  }




  @media screen and (min-width: 767px) and (max-width: 1200px) {

  

    .quality__square {
      width: auto;
      height: 120px;
      margin: 0 ;
    }

    .quality__list {
      display: flex ;
    flex-wrap: wrap ;
    flex-direction: row ;
   justify-content: center;
    }

  

    .quality__item {
  display: block;
  width: 354px;
    }

    .quality__h3 {
      margin-top: 0;
    }
    
.quality__text {
  justify-content: start ;
  text-align: start ;
  align-items: start;
  margin-top: 30px;
}


  }

  @media screen and (min-width: 1200px)  {
   

          .quality__square {
        
            height: 120px;
            
          }
      
          .quality__list {
            display: flex ;
          flex-wrap: wrap ;
          flex-direction: row ;
          justify-content: center;
          }
      
        
      
          .quality__item {
           
        display: block;
        width: 270px;
          }

          .quality__h3 {
            margin-top: 0;
          }
          
      .quality__text {
        justify-content: start ;
        text-align: start ;
        align-items: start;
        margin-top: 30px;
      }
  }


