.task {
    padding-top: 0;
    max-width: 480px;
    display: none;
    padding-left: 15px;
  padding-right: 15px;
  
  .task__list {
    list-style: none;
   
    gap: 30px;
    margin-top: 50px;
    padding-inline-start: 0px;
  }
  
  .task__title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-dark);
    font-weight: bold;
    margin: 0;
  }
  
  .task__item {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }


  
  .task__overlay {
    position: absolute;
    bottom: 0;
    content: "";
    display: flex;
    width: 96%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    align-items: center;
    justify-content: center;
  }
  
  .task__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: white;
    text-transform: uppercase;
  }

}