.team {
  background-color: $brand-grey;

  .team__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    padding: 0;
  }



  .links__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
    list-style: none;
    padding-inline-start: 0px;
    cursor: pointer;
  }

  .links__item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.team__title {
  line-height: 1.1;
  font-weight: bold;
 font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.team__links {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $blue-color;

    &:hover .social__icons,
    &:focus .social__icons {
      fill: #ffffff;
    }
  }
}

.social__icons {
  fill: $icons-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member__info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  height: 162px;
  .member__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: $brand-dark;
  }

  .member__position {
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: $p-color;
    margin-top: 10px;
  }

  .team__card {
    display: block;
  }

  
}

.team__image {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  

  .team__title {
    font-size: 33px;
  }


  .team__list {
    display: flex ;
   flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team__card {
    width: 354px;
  
  }

  .team__image {
    width: 100%;
    height: 100%;
  }

 

}

@media screen and (min-width: 1200px) {
  .team {
   
  
    justify-content: center;
    align-items: center;
  }

  .team__title {
    font-size: 36px;
  }

  .team__list {
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .team__card {
    width: 270px;
   
  }

  .member__info {
    height: 168px;
  }



}
